################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RouterVpnManager/v15/Server/sqlite3
/RouterVpnManagerClient/obj
/RouterVpnManagerClientAppleTV/bin/iPhoneSimulator/Debug
/RouterVpnManagerClientAppleTV/obj/iPhoneSimulator/Debug
/RouterVpnManagerClientLibrary/obj/Debug
/RouterVpnManagerClientTest/obj/Debug
/RouterVpnManagerClientTest/bin/Debug
/packages/Newtonsoft.Json.11.0.2
/RouterVpnManagerClientLibrary/bin/Debug
/RouterVpnManager/auth.txt
/RouterVpnManager/germany
/RouterVpnManager/my_expressvpn_canada_-_toronto_udp.ovpn
/RouterVpnManager/my_expressvpn_germany_-_darmstadt_udp.ovpn
/RouterVpnManager/my_expressvpn_usa_-_washington_dc_udp.ovpn
/RouterVpnManager/toronto
/RouterVpnManager/washington
/RouterVpnManager/template/*
/RouterVpnManager/configurations/*
