################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/RouterVpnManagerClient/obj
/RouterVpnManagerClientAppleTV/bin/
/RouterVpnManagerClientAppleTV/obj/
/RouterVpnManagerClientTest/obj/Debug
/RouterVpnManagerClientTest/bin/Debug
/packages/Newtonsoft.Json.11.0.2
/RouterVpnManagerClientLibrary/bin/Debug
/RouterVpnManagerClientLibrary/bin/
/RouterVpnManagerClientLibrary/obj/
/RouterVpnManager/template/*
/RouterVpnManager/configurations/*
