################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/RouterVpnManagerClient/obj
/RouterVpnManagerClientAppleTV/bin/
/RouterVpnManagerClientAppleTV/obj/
/RouterVpnManagerClientTest/obj
/RouterVpnManagerClientTest/bin
/packages/Newtonsoft.Json.11.0.2
/RouterVpnManagerClientLibrary/bin/Debug
/RouterVpnManagerClientLibrary/bin/
/RouterVpnManagerClientLibrary/obj/
/RouterVpnManager/template/*
/RouterVpnManager/configurations/*
/RouterVpnManagerClient/RouterVpnManagerClient/obj
/RouterVpnManagerClient/RouterVpnManagerClient.Android/obj
/RouterVpnManagerClient/RouterVpnManagerClient.iOS/obj
/RouterVpnManagerClient/RouterVpnManagerClient.UWP/obj/x86/Debug
/RouterVpnManagerClientAppleTV
/RouterVpnManagerClientTest/bin/Release
/RouterVpnManagerClientTest/obj/Release
/RouterVpnManager.sln.DotSettings.user
